<div class="card card-body comment" id="comment_<%=comment.id%>">
  <span><%=comment.user.email%></span>
  <span class="timer"><%=time_ago_in_words(comment.created_at) %> ago</span>
  <div class="text"><%=comment.text%></div>
  <a data-toggle="collapse" href="#collapseComment<%=comment.id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
    Відповісти
  </a>
  <div class="collapse" id="collapseComment<%=comment.id%>">
    <div class="comform">
      <%= render 'comments/form', object:comment%>
    </div>
  </div>
  <div style="padding-left: 10px;">
    <%=render comment.comments %>
  </div>
</div>
