
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div id="formContent">
      <div class="fadeIn first">
        <h1>Розкажіть трішки про себе</h1>
      </div>
        <%=simple_form_for(@user, url: my_path) do |f| %>
          <% if @user.errors.any? %>
            <div class="error_messages">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.input :name, input_html: { class: 'special'}, placeholder:"Ім'я та Фамілія", label: false %>
          </div>

        <div class="field">
          <%= f.input :city, type:"text", input_html: { class: 'special'}, placeholder:"Адреса для доставки", autofocus: true, autocomplete: "city", label: false %>
        </div>




        <div class="actions">
          <%= f.submit "Продовжити" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
