<div class="p-2 p-md-3 p-lg-5 text-center">

  <h1>Замовлення товару
    <b><%= @product.name%></b></h1>
  <%= simple_form_for(@order, url:product_orders_path)do |f| %>
  <div class="row p-4 text-center align-item-center">
    <div class="col-0 col-md-2">
      </div>
    Кількість:
    <div class="col-4 col-md-2">
      <%= f.input :count ,label: false,input_html: { value: '1',min: '1', step: 'any'} %>
    </div>
    <div class="col-1">
      *
    </div>
    <div id="order_price" class="col-1">
      <%= @product.price%>
    </div>
    <div class="col-1">
      =
    </div>
    <div id="order_cost" class="col-2">
      <%= @product.price%>
    </div>
    грн.
  </div>
  <%= f.button :submit, "Добавити в корзину" %>
<% end %>
</div>
