<div class="wrapper fadeInDown">
  <div id="formContent">
    <div id="formContent">
      <div class="fadeIn first">
        <h1>Forgot your password?</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Електронна адреса" %>
        </div>

        <div class="actions">
          <%= f.submit "Відправити інструкцію по відновленню" %>
        </div>
      <% end %>

      <div id="formFooter">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
