<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Назва продукту" %><br>
    <%= form.text_field :name, placeholder: "Назва продукту" %>
  </div>

  <div class="field">
    <%= form.label "Укажіть теги для продукту" %><br>
    <%= form.text_field :all_tags, placeholder:"Теги до продукту" %>
  </div>

  <div class="field">
    <%= form.label "Добавте опис продукту" %><br>
    <%= form.text_field :desc, placeholder:"Опис продукту" %>
  </div>

  <div class="field">
    <%= form.label "Укажіть ціну"%><br>
    <%= form.text_field :price %>
  </div>
  <div class="field">
    <%= form.label "Фото" %><br>
    <%= form.file_field :images, accept: 'image/png,image/gif,image/jpeg', multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit "Створити продукт" %>
  </div>
<% end %>
