<p id="notice"><%= notice %></p>
<h1 class="text-center">
  <div class="otopright">
    <span class="icons" id="tcard">
      <i class="fa fa-columns"></i>
    </span>
    <span class="icons" id="ttable">
      <i class="fa fa-th-list"></i>
    </span>
  </div>
  Товари
</h1>

<% if params[:q].present? %>
  <div class="text-center">

    Результати за пошуком
    <b><%= params[:q]%></b>
  </div>
<%end%>

<div class="tcard active">

  <%=render "sort"%>
  <div id="products" class="row p-3 ">
    <%=render @products %>
  </div>
</div>

<div class="ttable">
  <table class="table table-striped table-active">
    <thead class="thead-dark">
      <tr>
      <th>Фото</th>
      <th>Назва</th>
      <th>Опис</th>
      <th>Ціна</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody id="products_line">

    <%=render "products/products_line", products:@products%>
  </tbody>
</table>
</div>

<script>
$("#tcard").on("click", function () {
  $(".ttable").removeClass("active");
  $(".tcard").addClass("active");
});
$("#ttable").on("click", function () {
  $(".tcard").removeClass("active");
  $(".ttable").addClass("active");
});
</script>
