<p id="notice"><%= notice %></p>

<h1 class="text-center">Товари</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th></th>
      <th>Фото</th>
      <th>Назва</th>
      <th>Опис</th>
      <th>Ціна</th>
      <% if user_signed_in? && current_user.id ==1 %>
        <th colspan="10"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%=link_to "Замовити",new_product_order_path(product.id)%>
        </td>
        <td>
          <% if product.images.present?%>
            <%= image_tag product.images.first,width: 250 %>
          <%end%>
        </td>
        <td>
          <%= link_to product do %>
          <%= product.name %>
        <%end%>
      </td>
      <td><%= product.desc %></td>
      <td><%= product.price %> грн.</td>
      <% if user_signed_in? && current_user.id ==1 %>
        <td><%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
    </tr>
  <% end %>
</tbody>
</table>
