<p id="notice"><%= notice %></p>

<p>
  <% if @product.images.present?%>
  <% @product.images.each do |image|  %>
    <%= image_tag image,width: 200 %>
  <%end%>
  <%end%>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>ТЕГИ:</strong>
  <%= tags(@product) %>
</p>
<p>
  <%= link_to "Замовити", new_order_path(product_id: @product.id), class:'btn btn-success' %>
</p>
<p>
  <strong>Desc:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<h3>Коментарі</h3>
<%= render @product.comments%>
<%= render 'comments/form', object:@product %>
