<div class="row p-2 p-md-3 p-lg-4">
  <div class="col-12 col-md-12 col-lg-9">
  <% if @product.images.present?%>
    <div class="row" >
    <div class="col-12 col-md-5 col-xl-4 text-center">
      <% @product.images.each do |image|  %>
        <%= image_tag image,width: 250 %>
      <%end%>
    </div>
  <%end%>
  <div class="col-12 col-md-7 col-xl-8">
    <div class="rozdil">
      <%if current_user.id == 1 %>
        <%= link_to 'Редагувати', edit_product_path(@product) %>
        |
      <%end%>
      <%= link_to 'Повернутися назад', products_path %>
    </div>
    <div class="rozdil">
      <strong>Назва:</strong>
      <%= @product.name %>
    </div>
    <div class="rozdil">
      <strong>Категорії:</strong>
      <%= tags(@product) %>
    </div>
    <div class="rozdil">
      <strong>Опис:</strong>
      <%= @product.desc %>
    </div>

    <div class="rozdil">
      <strong>Ціна:</strong>
      <span class="price">
        <%= @product.price %> грн.
      </span>
    </div>
    <div class="rozdil">
      <%= link_to "Замовити", new_product_order_path(@product.id), class:'uploadButton ' %>
    </div>
  </div>
    <div class="col-12 comments text-center">
    <h3>Коментарі</h3>
    <%= render @product.comments%>
    <%= render 'comments/form', object:@product %>
    </div>
  </div>
  </div>
  <div class="col-12 col-md-12 col-lg-3 text-center">
    <h3 class="text-center">Вам також сподобаються:</h3>
    <div class="row">
      <% @like_products.each do |product|%>
      <div class="card" style="width: 100%;">
        <% if product.images.present?%>
          <%= image_tag product.images.first,width: "100px", class: "card-img-top" %>
        <%end%>
        <div class="card-body text-center">
          <h5 class="card-title">
            <%= link_to product do %>
              <%= product.name %>
            <%end%>
          </h5>
          <p class="card-text price"><%= product.price %> грн.</p>
          <%= link_to "Замовити", new_product_order_path(product.id), class:'uploadButton ' %>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
